body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:175px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u589 label {
  left:0px;
  width:100%;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:175px;
  height:21px;
  display:flex;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u589_img.selected {
}
#u589.selected {
}
#u589_img.disabled {
}
#u589.disabled {
}
#u589_img.selectedDisabled {
}
#u589.selectedDisabled {
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u589_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u590 label {
  left:0px;
  width:100%;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:175px;
  height:21px;
  display:flex;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u590_img.selected {
}
#u590.selected {
}
#u590_img.disabled {
}
#u590.disabled {
}
#u590_img.selectedDisabled {
}
#u590.selectedDisabled {
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u590_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u591 label {
  left:0px;
  width:100%;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:175px;
  height:21px;
  display:flex;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u591_img.selected {
}
#u591.selected {
}
#u591_img.disabled {
}
#u591.disabled {
}
#u591_img.selectedDisabled {
}
#u591.selectedDisabled {
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u591_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u592 label {
  left:0px;
  width:100%;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:175px;
  height:21px;
  display:flex;
}
#u592 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u592_img.selected {
}
#u592.selected {
}
#u592_img.disabled {
}
#u592.disabled {
}
#u592_img.selectedDisabled {
}
#u592.selectedDisabled {
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u592_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u593 label {
  left:0px;
  width:100%;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:175px;
  height:21px;
  display:flex;
}
#u593 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u593_img.selected {
}
#u593.selected {
}
#u593_img.disabled {
}
#u593.disabled {
}
#u593_img.selectedDisabled {
}
#u593.selectedDisabled {
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u593_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u594 label {
  left:0px;
  width:100%;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:175px;
  height:21px;
  display:flex;
}
#u594 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u594_img.selected {
}
#u594.selected {
}
#u594_img.disabled {
}
#u594.disabled {
}
#u594_img.selectedDisabled {
}
#u594.selectedDisabled {
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u594_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u595 label {
  left:0px;
  width:100%;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:161px;
  width:175px;
  height:21px;
  display:flex;
}
#u595 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u595_img.selected {
}
#u595.selected {
}
#u595_img.disabled {
}
#u595.disabled {
}
#u595_img.selectedDisabled {
}
#u595.selectedDisabled {
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u595_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u596 label {
  left:0px;
  width:100%;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:184px;
  width:175px;
  height:21px;
  display:flex;
}
#u596 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u596_img.selected {
}
#u596.selected {
}
#u596_img.disabled {
}
#u596.disabled {
}
#u596_img.selectedDisabled {
}
#u596.selectedDisabled {
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u596_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u597 label {
  left:0px;
  width:100%;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:175px;
  height:21px;
  display:flex;
}
#u597 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u597_img.selected {
}
#u597.selected {
}
#u597_img.disabled {
}
#u597.disabled {
}
#u597_img.selectedDisabled {
}
#u597.selectedDisabled {
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u597_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u598 label {
  left:0px;
  width:100%;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  display:flex;
}
#u598 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u598_img.selected {
}
#u598.selected {
}
#u598_img.disabled {
}
#u598.disabled {
}
#u598_img.selectedDisabled {
}
#u598.selectedDisabled {
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:159px;
  word-wrap:break-word;
  text-transform:none;
}
#u598_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
